
<button
  class="btn btn-light rounded-circle"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasWithBothOptions"
  aria-controls="offcanvasWithBothOptions"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-list"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
    />
  </svg>
</button>



    <div
  class="offcanvas offcanvas-start "
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header">
    
 
    <button
      type="button"
      class="btn text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    >
    <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-list"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
    />
  </svg>
    </button>


    <img class="" src="https://th.bing.com/th/id/OIP.1JRI-QJmxOwbNATTQS5NdAAAAA?rs=1&pid=ImgDetMain" width="80px" height="50px" alt="Logo image">


</div>
  <div class="offcanvas-body">
    <nav class="nav flex-column">
        

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-house"></i></div>
            <div class="col"><a class="navbar-brand" href="#">Home</a></div>
        </div>

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-camera-reels"></i></div>
            <div class="col"><a class="navbar-brand" href="#">Shorts</a></div>
        </div>

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-collection-play"></i></div>
            <div class="col"><a class="navbar-brand" href="#">Subscription</a></div>
        </div>

        <hr class="mt-4">

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-file-play"></i></div>
            <div class="col"><a class="navbar-brand" href="#">You</a></div>
        </div>

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-clock-history"></i></div>
            <div class="col"><a class="navbar-brand" href="#">History</a></div>
        </div>

        <hr class="mt-4">

        <div class="row col1 mt-3">
            <h4 class="fw-medium">Explore</h4>
        </div>

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-fire"></i></div>
            <div class="col"><a class="navbar-brand" href="#">Trending</a></div>
        </div>

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-bag"></i></div>
            <div class="col"><a class="navbar-brand" href="#">Shopping</a></div>
        </div>

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-music-note"></i></div>
            <div class="col"><a class="navbar-brand" href="home.html">Music</a></div>
        </div>

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-film"></i></div>
            <div class="col"><a class="navbar-brand" href="home.html">Movies</a></div>
        </div>

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-broadcast-pin"></i></div>
            <div class="col"><a class="navbar-brand" href="home.html">Live</a></div>
        </div>

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-controller"></i></div>
            <div class="col"><a class="navbar-brand" href="home.html">Gaming</a></div>
        </div>

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-newspaper"></i></div>
            <div class="col"><a class="navbar-brand" href="home.html">News</a></div>
        </div>

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-trophy"></i></div>
            <div class="col"><a class="navbar-brand" href="home.html">Sports</a></div>
        </div>

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-lightbulb"></i></div>
            <div class="col"><a class="navbar-brand" href="home.html">Courses</a></div>
        </div>

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-shop"></i></div>
            <div class="col"><a class="navbar-brand" href="home.html">Fashion & Beauty</a></div>
        </div>

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-mic-fill"></i></div>
            <div class="col"><a class="navbar-brand" href="home.html">Podcasts</a></div>
        </div>

        <hr class="mt-4">

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-gear"></i></div>
            <div class="col"><a class="navbar-brand" href="home.html">Settings</a></div>
        </div>

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-flag"></i></div>
            <div class="col"><a class="navbar-brand" href="home.html">Report history</a></div>
        </div>

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-question-circle"></i></div>
            <div class="col"><a class="navbar-brand" href="home.html">Help</a></div>
        </div>

        <div class="row col1 mt-3">
            <div class="col-2"><i class="bi bi-info-square"></i></div>
            <div class="col"><a class="navbar-brand" href="home.html">Send feedback</a></div>
        </div>
        
      </nav>
  </div>
</div>




